:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.capture-window {
	width: 40rem;
	height: 40rem;
	background-color: #494848;
}

.notes {
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.note {
	width: 2rem;
	height: 2rem;
	background-color: #747bff;
	border-radius: 50%;
}

.device-selector {
	margin-bottom: 2rem;
}

.capture-button {
	width: 6rem;
	height: 3rem;
	font-size: large;
	margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
